$text-color-orange:             #ff7d25;
$text-color-gray:               #939393;
$text-color-gray-lighter:       #A4A4A4;
$text-color-gray-light:         #9E9E9E;
$text-color-gray-dark:          #666666;
$text-color-blue:               #024884;
$text-color-white:              #fff;
$text-color:                    #333;
$text-color-black:              #000;
$text-color-red:                #E95E52;
$text-color-green:              #3AC358;

$bg-color-blue:                 #024884;
$bg-color-blue-dark:            #003D72;
$bg-color-white:                #fff;
$bg-color-gray:                 #FAFAFA;
$bg-color-gray-light:           #F2F2F2;
$bg-color-orange:               #ff7d25;
$bg-color-gray-dark:            #f6f6f6;
$bg-color-blue-light:           #E1EAF0;


$border-color-gray:             #FAFAFA;
$border-color-blue:             #024884;
$border-color-gray-dark:        #DEDEDE;
$border-color-orange:           #ff7d25;
$border-color-gray-darker:      #c7c7c7;

$side-padding:                    18px;
