@import "variable";
@import "mixin";

html{
  color: #333;
  background: #fff;
}

*{
  box-sizing: border-box;
}

.footer-padding{
  padding-bottom: 50px;
}

a{
  color: inherit;
}

.min-all-screen {
  min-width: 100vh;
  min-height: 100vh;
}

.min-height-all-screen{
  min-height: 100vh;
}

.body-bg-gray{
  background: $bg-color-gray;
}

.body-bg-blue{
  background: $bg-color-blue;
}

.btn-blue{
  background: $bg-color-blue;
  color: $text-color-white;
  border-radius: 4px;
  border: none;
}

.btn-blue-hollow {
  background: transparent;
  color: $text-color-blue;
  border-color: $text-color-blue;
  border-radius: 4px;
}

.van-swipe__indicators{
  bottom: 25px;
  .van-swipe__indicator{
    opacity: 0.5;
    background-color: #fff;
  }
  .van-swipe__indicator--active{
    opacity: 1;
    background-color: #fff;
    width: 15px;
    border-radius: 5px;
  }
}

.bank-password-cell{
  .van-cell__title{
    max-width: 5.625rem;
  }
  .van-cell__value{
    text-align: left;
  }
}
.footer .van-tabbar-item--active{
  color: $text-color-blue;
}
.product-detail{
  .title{
    .van-cell__title{
      font-weight: bold;
      text-align: left;
      font-size: 16px;
      //padding: 0 18px;
    }
  }
  .info{
    .van-cell__title{
      font-weight: normal;
      text-align: left;
      font-size: 16px;
      //padding: 0 18px;
    }
  }
}
.show-view-list .van-cell,
.activity-footer .van-cell {
  text-align: left;
  padding: 10px 0;
  font-size: 14px;
}
.show-view-list .van-cell__title{
  padding: 0px 15px;
  font-size: 15px;
}
